<!DOCTYPE HTML>

<html>

<head>
  <base href="./">
  <title>Full Motion</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="/src/assets/css/main.css" />
</head>


<div id="nav">

  <ul style="font-family: Arial, Helvetica, sans-serif;" id="navbar">
    <li class="itemnavbar">
      <a routerLink="">Logout</a>
    </li>

    <li class="itemnavbar"><a href="#news">Profile</a></li>

    <li style="float:right" class="itemnavbar"><a
        href="https://mail.google.com/mail/?view=cm&fs=1&to=uros.vujosevic@gmail.com&su=Contact LOSTEV">Support</a>
    </li>
  </ul>
</div>

<body id="top">




  <!-- Main -->
  <div id="main">
    <div class="inner">

      <!-- Boxes -->
      <div class="thumbnails">

        <div class="box">

          <div class="inner">
            <h3>Požar</h3>
            <p>Prijavite požar u kome ste se zatekli, ili Vi ili neko u Vašoj okolini.</p>
            <a routerLink="/detalji" class="button style2 fit" data-poptrox="youtube,800x400">POŽAR</a>
          </div>
        </div>

        <div class="box">

          <div class="inner">
            <h3>Poplava</h3>
            <p>Prijavite poplavu svih razmera koja se desila u Vašem okruženju</p>
            <a routerLink="/detalji" class="button style2 fit" data-poptrox="youtube,800x400">POPLAVA</a>
          </div>
        </div>

        <div class="box">

          <div class="inner">
            <h3>Zemljotres</h3>
            <p>Prijavite zemljotres koji ugrožava Vas ili nekoga u vašoj okolini.</p>
            <a routerLink="/detalji" class="button style2 fit" data-poptrox="youtube,800x400">ZEMLJOTRES</a>
          </div>
        </div>

        <div class="box">

          <div class="inner">
            <h3>Nevreme</h3>
            <p>Prijavite intenzivno nevreme koje ugrožava Vas ili nekoga u vašem okruženju.</p>
            <a routerLink="/detalji" class="button style2 fit" data-poptrox="youtube,800x400">NEVREME</a>
          </div>
        </div>

        <div class="box">

          <div class="inner">
            <h3>Pandemija</h3>
            <p>Prijavite se radi medicinske/druge vrste pomoći u toku pandemije.</p>
            <a routerLink="/detalji" class="button style2 fit" data-poptrox="youtube,800x400">PANDEMIJA</a>
          </div>
        </div>

        <div class="box">

          <div class="inner">
            <h3>Ugrožavanje sigurnosti </h3>
            <p>Prijavite teroristički napad, napad drugog lica ili drugu opasnost po sigurnost.</p>
            <a routerLink="/detalji" class="button style2 fit" data-poptrox="youtube,800x400">UGROŽAVANJE SIGURNOSTI</a>
          </div>
        </div>

        <div class="box">

          <div class="inner">
            <h3>Ostalo</h3>
            <p>Prijavite opasnost koja nije pokrivena svim drugim kategorijama.</p>
            <a routerLink="/detalji" class="button style2 fit" data-poptrox="youtube,800x400">OSTALO</a>
          </div>
        </div>



      </div>

    </div>
  </div>

  <!-- Footer -->
  <footer id="footer">
    <div class="inner">
      <h2>Naša vizija</h2>
      <p>Radom i korišćenjem aplikacije osvestiti društvo o mogućnosti
        upotrebe modernih tehnologija zarad pomoći ugroženim osobama.
      </p>

      <ul class="icons">
        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="https://mail.google.com/mail/?view=cm&fs=1&to=uros.vujosevic@gmail.com&su=Contact LOSTEV"
            class="icon fa-envelope"><span class="label">Email</span></a></li>
      </ul>
      <p class="copyright">&copy; Untitled. Design: EU Horizons 2020 .</p>
    </div>
  </footer>

  <!-- Scripts -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.scrolly.min.js"></script>
  <script src="assets/js/jquery.poptrox.min.js"></script>
  <script src="assets/js/skel.min.js"></script>
  <script src="assets/js/util.js"></script>
  <script src="assets/js/main.js"></script>

</body>

</html>
