<!DOCTYPE HTML>

<html>

<head>
  <base href="./">
  <title>Full Motion</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="/src/assets/css/main.css" />
</head>


<div id="nav">

  <ul style="font-family: Arial, Helvetica, sans-serif;" id="navbar">
    <li class="itemnavbar">
      <a routerLink="">Logout</a>
    </li>

    <li style="float:right" class="itemnavbar"><a
        href="https://mail.google.com/mail/?view=cm&fs=1&to=uros.vujosevic@gmail.com&su=Contact LOSTEV">Support</a>
    </li>
  </ul>

</div>

<body id="top">

  <!-- Main -->
  <div id="main">
    <div class="inner">
      <!-- Boxes -->
      <div class="thumbnails">

        <div class="box" style="position: relative;">

          <img src="../../assets/css/images/pic01.jpg" alt="" style="width: 100%;" />
          <div class="inner" style="padding-bottom: 9%; padding-top: 4%;">
            <h3>Fire</h3>
            <p>Report a fire in your immediate vicinity or someone elses, number of people affected, elevation etc.</p>
            <a routerLink="/detalji" class="button style2 fit" data-poptrox="youtube,800x400"
              style=" position: absolute; bottom: 15px; width: 87%;" (click)="go('fire')">Go</a>
          </div>
        </div>

        <div class="box">

          <img src="../../assets/css/images/pic02.jpg" alt="" style="width: 100%;" />

          <div class="inner" style="padding-bottom: 9%; padding-top: 4%;">
            <h3>Flood</h3>
            <p>Report floods in your immediate vicinity or someone elses, their scale etc.
            </p>
            <a routerLink="/detalji" class="button style2 fit" data-poptrox="youtube,800x400"
              style=" position: absolute; bottom: 15px; width: 87%;" (click)="go('flood')">Go</a>
          </div>
        </div>

        <div class="box">

          <img src="../../assets/css/images/pic03.jpg" alt="" style="width: 100%;" />
          <div class="inner" style="padding-bottom: 9%; padding-top: 4%;">

            <h3>Earthquake</h3>

            <p>Report earthquakes and tremors in your immediate vicinity or someone elses, their scale etc.</p>

            <a routerLink="/detalji" class="button style2 fit" data-poptrox="youtube,800x400"
              style=" position: absolute; bottom: 15px; width: 87%;" (click)="go('earth')">Go</a>

          </div>
        </div>

        <div class="box">

          <img src="../../assets/css/images/pic04.jpg" alt="" style="width: 100%;" />
          <div class="inner" style="padding-bottom: 9%; padding-top: 4%;">

            <h3>Foul Weather</h3>

            <p>Report weather related emergencies, their scale, nature etc.</p>

            <a routerLink="/detalji" class="button style2 fit" data-poptrox="youtube,800x400"
              style=" position: absolute; bottom: 15px; width: 87%;" (click)="go('weather')">Go</a>

          </div>
        </div>

        <div class="box">

          <img src="../../assets/css/images/pic05.jpg" alt="" style="width: 100%;" />
          <div class="inner" style="padding-bottom: 9%; padding-top: 4%;">
            <h3>Health</h3>
            <p>Ask for emergency health-related assistance</p>
            <a routerLink="/detalji" class="button style2 fit" data-poptrox="youtube,800x400"
              style=" position: absolute; bottom: 15px; width: 87%;" (click)="go('health')">Go</a>
          </div>
        </div>

        <div class="box">

          <img src="../../assets/css/images/pic06.jpg" alt="" style="width: 100%;" />
          <div class="inner" style="padding-bottom: 9%; padding-top: 4%;">
            <h3>Security</h3>
            <p>Report an event in need of Police assistance, its type, nature etc.</p>
            <a routerLink="/detalji" class="button style2 fit" data-poptrox="youtube,800x400"
              style=" position: absolute; bottom: 15px; width: 87%;" (click)="go('police')">Go</a>
          </div>
        </div>

        <div class="box">

          <img src="../../assets/css/images/pic07.jpg" alt="" style="width: 100%;" />
          <div class="inner" style="padding-bottom: 9%; padding-top: 4%;">
            <h3>Other</h3>
            <p>Report an emergency not covered in the boxes above</p>
            <a routerLink="/detalji" class="button style2 fit" data-poptrox="youtube,800x400"
              style=" position: absolute; bottom: 15px; width: 87%; " (click)="go('other')">Go</a>
          </div>
        </div>



      </div>

    </div>
  </div>

  <!-- Footer -->
  <footer id="footer">
    <div class="inner">
      <h2>Our vision</h2>
      <p>Helping people in emergency situations by using the cutting-edge technologies of today
      </p>

      <ul class="icons">
        <li><a href="https://twitter.com/drdrazen?lang=en" class="icon fa-twitter"><span
              class="label">Twitter</span></a></li>
        <li><a href="https://www.facebook.com/predrag.kon" class="icon fa-facebook"><span
              class="label">Facebook</span></a></li>
        <li><a href="https://mail.google.com/mail/?view=cm&fs=1&to=uros.vujosevic@gmail.com&su=Contact LOSTEV"
            class="icon fa-envelope"><span class="label">Email</span></a></li>
      </ul>
      <p class="copyright">&copy; LOSTEV | EU Horizons 2020 </p>
    </div>
  </footer>

  <!-- Scripts -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.scrolly.min.js"></script>
  <script src="assets/js/jquery.poptrox.min.js"></script>
  <script src="assets/js/skel.min.js"></script>
  <script src="assets/js/util.js"></script>
  <script src="assets/js/main.js"></script>

</body>

</html>
