@import url("https://fonts.googleapis.com/css?family=Montserrat");

#map {
  margin: 0;
  width: 100%;
  padding: 0;
  top: 0;
  height: 81%;
}



body {
  font-family: Montserrat;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: rgb(32, 31, 36);
  height: 100vh;
}

#around {
  overflow: hidden;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(32, 31, 36);
  height: 100vh;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-right: 0;
  background-color: rgb(32, 31, 36);
}

li {
  float: left;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(73, 72, 78);
}

.active {
  background-color: #992d1a;
}

button {
  border-radius: 20px;
  border: 1px solid rgb(60, 59, 65);
  background-color: rgb(32, 31, 36);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}
