<div>

  <ul style="font-family: Arial, Helvetica, sans-serif;" id="nav">
    <li>
      <a routerLink="">Logout</a>
    </li>

    <li><a routerLink="/user">Back</a></li>

    <li style="float:right"><a
        href="https://mail.google.com/mail/?view=cm&fs=1&to=uros.vujosevic@gmail.com&su=Contact LOSTEV">Support</a>
    </li>
  </ul>
</div>

<body>



  <form>
    <table>
      <tr>
        <td style="text-align: center; font-size: x-large;">
          Aproximate number of people affected:
        </td>
      </tr>
      <tr>
        <td style="text-align: center;">
          <input type="number" placeholder="1" min="1" style="margin-top: 20px;">
        </td>
      </tr>
      <tr>
        <td style="text-align: center; margin-left: 20px;">
          <ul class="donate-now" style="padding-left: 17px;" name="1">
            <li>
              <input type="radio" id="a25" name="amount" />
              <label for="a25" style="padding-top: 17%;">Less than</label>
            </li>
            <li>
              <input type="radio" id="a50" name="amount" />
              <label for="a50" style="padding-top: 17%;">Exactly</label>
            </li>
            <li>
              <input type="radio" id="a75" name="amount" checked="checked" />
              <label for="a75" style="padding-top: 20px;">More than</label>
            </li>

          </ul>
        </td>
      </tr>
    </table>
  </form>

  <form>
    <table>
      <div *ngIf="type == 'fire'">
        <tr>
          <td style="font-size:large;" colspan="2">
            <b>If inside of a building:</b><br>
            Submit the floors where the fire is spread
          </td>
        </tr>
        <tr>
          <td style="text-align: center;">
            <input type="number" placeholder="From" min="1" style="margin-top: 15px;">
          </td>

          <td style="text-align: center;">
            <input type="number" placeholder="To" min="1">
          </td>
        </tr>
      </div>
      <div *ngIf="type == 'flood'">
        <tr>
          <td>
            Are you or any people you know <br>
            in immediate danger?
          </td>
        </tr>
        <tr>
          <td style="text-align: center; margin-left: 17px;">
            <ul class="donate-now" style="padding-left: 4px;" name="2">
              <li>
                <input type="radio" id="b25" name="amount" />
                <label for="b25" style="padding-top: 17%;">Yes</label>
              </li>
              <li>
                <input type="radio" id="b50" name="amount" />
                <label for="b50" style="padding-top: 17%;">No</label>
              </li>
              <li>
                <input type="radio" id="b75" name="amount" checked="checked" />
                <label for="b75" style="padding-top: 20px;">I don't know</label>
              </li>

            </ul>
          </td>
        </tr>
      </div>
      <div *ngIf="type == 'earth'">
        <tr>
          <td>
            Are you or any people you know <br>
            in immediate danger?
          </td>
        </tr>
        <tr>
          <td style="text-align: center; margin-left: 17px;">
            <ul class="donate-now" style="padding-left: 4px;" name="2">
              <li>
                <input type="radio" id="b25" name="amount" />
                <label for="b25" style="padding-top: 17%;">Yes</label>
              </li>
              <li>
                <input type="radio" id="b50" name="amount" />
                <label for="b50" style="padding-top: 17%;">No</label>
              </li>
              <li>
                <input type="radio" id="b75" name="amount" checked="checked" />
                <label for="b75" style="padding-top: 20px;">I don't know</label>
              </li>

            </ul>
          </td>
        </tr>
      </div>
      <div *ngIf="type == 'weather'">
        <tr>
          <td>
            Are you or any people you know <br>
            in immediate danger?
          </td>
        </tr>
        <tr>
          <td style="text-align: center; margin-left: 17px;">
            <ul class="donate-now" style="padding-left: 4px;" name="2">
              <li>
                <input type="radio" id="b25" name="amount" />
                <label for="b25" style="padding-top: 17%;">Yes</label>
              </li>
              <li>
                <input type="radio" id="b50" name="amount" />
                <label for="b50" style="padding-top: 17%;">No</label>
              </li>
              <li>
                <input type="radio" id="b75" name="amount" checked="checked" />
                <label for="b75" style="padding-top: 20px;">I don't know</label>
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <td style="padding-top: 45px;">
            Do you have shelter?
          </td>
        </tr>

        <tr>
          <td style="text-align: center; margin-left: 17px;">
            <ul class="donate-now" style="padding-left: 70px;" name="2">
              <li>
                <input type="radio" id="c25" name="amount" />
                <label for="c25" style="padding-top: 17%;">Yes</label>
              </li>
              <li>
                <input type="radio" id="c50" name="amount" />
                <label for="c50" style="padding-top: 17%;">No</label>
              </li>
            </ul>
          </td>
        </tr>
      </div>
      <div *ngIf="type == 'health'">
        <tr>
          <td style="padding-top: 5px;">
            Are you in need of immediate medical attention?
          </td>
        </tr>

        <tr>
          <td style="text-align: center; margin-left: 17px;">
            <ul class="donate-now" style="padding-left: 45px;" name="2">
              <li>
                <input type="radio" id="c25" name="amount" />
                <label for="c25" style="padding-top: 17%;">Yes</label>
              </li>
              <li>
                <input type="radio" id="c50" name="amount" />
                <label for="c50" style="padding-top: 17%;">No</label>
              </li>
            </ul>
          </td>
        </tr>
      </div>
      <div *ngIf="type == 'security'">
        <tr>
          <td>
            Are you or any people you know <br>
            in immediate danger?
          </td>
        </tr>
        <tr>
          <td style="text-align: center; margin-left: 17px;">
            <ul class="donate-now" style="padding-left: 4px;" name="2">
              <li>
                <input type="radio" id="b25" name="amount" />
                <label for="b25" style="padding-top: 17%;">Yes</label>
              </li>
              <li>
                <input type="radio" id="b50" name="amount" />
                <label for="b50" style="padding-top: 17%;">No</label>
              </li>
              <li>
                <input type="radio" id="b75" name="amount" checked="checked" />
                <label for="b75" style="padding-top: 20px;">Maybe</label>
              </li>

            </ul>
          </td>
        </tr>
      </div>
      <div *ngIf="type == 'other'">
        <tr>
          <div class="wrapper">
            <div class="cmd">
              <textarea class="textarea" placeholder="Type something here..."></textarea>
            </div>
          </div>
        </tr>
      </div>

      <tr>
        <td>
          <button (click)="send()"> Submit </button>
        </td>
      </tr>
    </table>

  </form>

  <div *ngIf="sent == true">
    <div style="margin-top: 40px;">
      Call for help received
      <br>
      Please stand by
    </div>
    <div>
      <b style="color: green; font-size: 40px;">&#10004;</b>
    </div>
  </div>

</body>
